body{
    margin: 0;
    padding: 0;
}

.main, .header, .sidebar {
    border: 1px solid black;
}

.container {
    display: grid;
}

.header {
    grid-row: 1;
    grid-column: 1/6;
    height: 10vh;
}

.main {
    grid-row: 2;
    grid-column: 2/6;
    height: 90vh;
}

.mainheader {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
}

.main h1 {
    text-align: center;
    margin-left: auto;
}

#addBtn {
    padding: 15px 25px;
    margin: 0 20px 0 auto;
    align-self: center;
}

#panel {
    grid-row: 2;
    border: 1px solid black inset;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgb(119, 119, 119);
    padding: 80px;
    margin: 10px 20px;
    display: flex;
}

#panel img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

#paneltext {
    margin: 0 0 0 20px;
    align-self: center;
}

#panel:hover {
    transform: scale(1.01);
}

.sidebar {
    grid-row: 2;
    grid-column: 1/2;
    width: 100%;
}