@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Shadows+Into+Light&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: 'Open Sans';
}

/*.main, .header, .sidebar {
    border: 1px solid black;
}*/

.container {
    display: grid;
    /*justify-content: center;*/
}

.header {
    grid-row: 1;
    grid-column: 1/6;
    height: 10vh;
    background-color: #DE6262;
    text-align: center;
    margin: 20px;
    border-radius: 7px;
  }

.header h1 {
  font-family:"Playwrite US Trad", cursive;
  font-style: normal;
  font-weight: normal;
}

.main {
    grid-row: 2;
    grid-column: 2/6;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mainheader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 20vh;
  padding-bottom: 10px;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1001;
}

.main h1, #addItemForm{
    text-align: center;
    margin: auto;
    align-self: center;
}

#addBtn{
  padding: 15px;
  position: absolute;
  right: 100px;
  align-self: center;
  border-radius: 7px;
  box-shadow: 0 2px 20px -20px black;
  z-index: 1001;
}

#addItemForm button, #addItemForm input::file-selector-button {      
    background-image: linear-gradient(to right, #DE6262 0%, #FFB88C  51%, #DE6262  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    font-size: 1em;
    align-self: center;
}

#panelContainer{
    display: flex;
    flex-direction: column;
}

.panel {
    grid-row: 2;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgb(44, 44, 44);
    width: 40vw;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #f2c5c5;
}

.panel img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.panel-content {
    margin: 0 0 0 50px;
    align-self: center;
}

.panel:hover {
    transform: scale(1.01);
}

.sidebar {
    grid-row: 2;
    grid-column: 1/2;
    width: 100%;
    margin: 10px 20px;
    border-radius: 7px;
    background-color: #df7f7f;
}

#addItemForm {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 8px;
  z-index: 1000;
  }

  #addItemForm label {
    display: block;
    margin-bottom: 5px;
  }

  
  #addItemForm textarea, #title,  label[for='image']{
    width: 100%;
    padding: 18px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
        
  /*#addBtn:hover, #addItemForm button:hover, #addItemForm input::file-selector-button:hover
   {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }*/
  

  #title, #description {
    text-align: center;
    border: 0;
    border-bottom: 1px solid black;
  }

  #image {
    text-align: center;
  }

  .card {
    max-width: 33rem;
    text-align: center;
    box-shadow: 0 3px 4px -4px black;
  }
   
  .star {
    font-size: 3vh;
  }

  .card a {
    text-decoration: none;
    color: rgb(255, 255, 0);
  }